<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ChenchenZheng/attack_on_titan_api"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/chenchen-zheng/"><i class="fab fa-linkedin"></i></a>
    <a href="https://chenchenzheng.com"><i class="fas fa-ghost"></i></a>
  </div>
  <div class="footer-copyright">
    Chenchen Zheng © 2021
  </div>
</div>
