<div class="footer-basic">
  <footer>
      <div class="social">
        <a href="https://github.com/ChenchenZheng/attack_on_titan_api"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/chenchen-zheng/"><i class="fab fa-linkedin"></i></a>
        <a href="https://chenchenzheng.com"><i class="fas fa-ghost"></i></a>
      </div>
      <p class="copyright">Chenchen Zheng © 2021</p>
  </footer>
</div>
