.footer-basic {
  padding:40px 0;
  color:#FFF;
  background-color: #0E90DA;

  .social {
    text-align:center;
    padding-bottom:25px;

    > a {
      font-size:24px;
      width:40px;
      height:40px;
      line-height:40px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #FFF;
      margin:0 8px;
      color:inherit;
    }
  }

  .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#FFF;
    margin-bottom:0;
  }
}
