.footer {
  background: #0E90DA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 30px;
  color: #FFF;
  
  .footer-links {
    text-align:center;

    > a {
      font-size:24px;
      width:40px;
      height:40px;
      line-height:40px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #FFF;
      margin:0 8px;
      color:inherit;
    }
  }
}
